
@{
    ViewData["Title"] = "FirstAjax";
}

<h1>FirstAjax</h1>
<button type="button" id="buttonStart">Ajax Start</button>
<div id="div1" class="alert alert-secondary"></div>
<input type="text" class="form-control" id="inputName" placeholder="請輸入姓名" />
<input type="number" class="form-control" id="inputAge" placeholder="請輸入年紀" />

@section Scripts{
    <script>
        const btnStart = document.querySelector(`#buttonStart`);
        const divInfo = document.querySelector(`#div1`);
        const txtName = document.querySelector('#inputName');
        const txtAge = document.querySelector('#inputAge');


        btnStart.addEventListener(`click`, () => {
            //步驟一   建立Ajax物件
            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;

                //顯示資料
                divInfo.innerHTML = `<h2>${data}</h2>`;
            })
            //步驟二對伺服器端發出要求(Request)
            /*xhr.open("GET", "/api/index?name=Eason&age=25"); *///瀏覽器網址
            const url = "@Url.Content("~/api/index")";
            const params = `?name=${txtName.value}&age=${txtAge.value}`
            xhr.open("GET", url + params);

            //xhr.open("GET", `/api/index?name=${txtName.value}&age=${txtAge.value}`);
            xhr.send();

        })





    </script>



}
